.contact-form {
    form {
        input,
        textarea {
            width         : 100%;
            margin-bottom : 15px;
            background    : #303030;
            color         : white;
            padding       : 10px;
            border        : none;
            font-weight   : 100;
            font-family   : Helvetica, sans-serif;
            box-shadow    : 0px 2px 6px rgba(0, 0, 0, 0.5);
            font-size     : 14px;
        }

        button {
            background    : #616161;
            border        : none;
            max-width     : 100px;
            margin        : 0 auto;
            display       : block;
            border-radius : 5px;
            padding       : 15px;
            color         : white;
            width         : 100%;
            font-size     : 14px;   
        }
    }
}