.mobile-only {
    display : block !important;

    &.flex {
        display : flex !important;
    }

    &.grid {
        display : grid !important;
    }

    @include md {
        display : none !important;
    }
}