#navigation {
    z-index    : 25;
    position   : fixed;
    width      : 100vw;
    top        : 0px;
    left       : 0px;
    background : transparent;
    height     : 65px;
    transition : background 0.25s ease-in-out, box-shadow 0.25s ease-in-out, height 0.25s ease-in-out;

    @include md {
        height : 90px;
    }

    &.scrolled {
        backdrop-filter : blur(5px);
        background      : rgba(22, 22, 22, 0.75);
        box-shadow      : 0px 4px 9px 0px rgba(0, 0, 0, 0.25);

        img {
            opacity : 1 !important;
        }

        @include md {
            height : 65px;
        }

        .desktop-only {
            .nav-links-wrapper {
                margin-top : -7px !important;

                a {
                    font-size : 11px !important;
                }
            }

            .social-link { 
                font-size : 20px !important;
            }
        }
    }

    .container {
        height : 100%;

        .inner-block-1 {
            height      : 100%;
            align-items : center;

            .inner-block-2 {
                width  : 100%;
                height : 100%;

                .block {
                    &.block-1 {
                        display     : flex;
                        align-items : center;

                        img {
                            width      : 50px;
                            height     : auto;
                            opacity    : 0;
                            transition : opacity 0.25s ease-in-out;
                        }
                    }

                    &.block-2 {
                        display         : flex;
                        justify-content : flex-end;

                        button {
                            background : none;
                            color      : white;
                            border     : none;
                            padding    : 0;
                            font-size  : 25px;
                            height     : 100%;
                        }

                        a {
                            &.social-link {
                                font-size       : 25px;
                                color           : white;
                                align-items     : center;
                                display         : inline-block;
                                text-decoration : none;
                                transition      : font-size 0.25s ease-in-out;

                                &:nth-child(2) {
                                    margin : 0px 10px;

                                    @include md {
                                        margin : 0 0 0 10px;
                                    }
                                }

                                @include md {
                                    display : inline-block;
                                }
                            }
                        }

                        .desktop-only {
                            text-align  : right;
                            white-space : nowrap;
                            align-items : center;

                            > div {
                                margin-top : -5px;
                            }

                            .nav-links-wrapper {
                                margin-top : 0px;
                                transition : margin-top 0.25s ease-in-out;

                                a {
                                    color           : white;
                                    margin-right    : 15px;
                                    font-size       : 12px;
                                    text-decoration : none;
                                    letter-spacing  : 2px;
                                    text-shadow     : 0px 2px 6px rgba(0, 0, 0, 0.5);
                                    transition      : font-size 0.25s ease-in-out;
                                    
                                    &:last-child {
                                        margin-right : 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}