#home {
    .section {
        &#our-studio {
            .swiper-container {
                @include md {
                    width  : 100%;
                    height : fit-content;
                }

                img {
                    width : 100%;
                }

                .swiper-button-prev,
                .swiper-button-next {
                    filter : drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
                    color  : white !important;
                }
            }

            .accordion {
                margin-top : 20px;

                @include md {
                    margin-top : 0px;
                }
            }
        }

        &#listen {
            iframe {
                height : 362px;
                width  : 100%;
            }
        }

        &#discography {
            .see-full-discography {
                text-align : center;
                display    : block;
                margin-top : 20px;
                font-size  : 12px;
                color      : white;
            }
        }
    }
}