.background-video {
    width    : 100vw;
    height   : 100vh;
    top      : 0px;
    left     : 0px;
    position : fixed;

    video {
        left       : 0;
        bottom     : 0;
        object-fit : cover;
        width      : 100%;
        height     : 100%;
        position   : absolute;
    }
}