.section {
    padding    : 50px 0px;
    min-height : 300px;
    position   : relative;
    z-index    : 2;
    background : #202020;

    @include md {
        padding : 80px 0px;
    }

    &.alt {
        background : #1B1B1B;
    }

    &.fade-bg {
        background : linear-gradient(180deg, #1B1B1B 70%, rgba(27, 27, 27, 0) 100%);
    }
}